{%- macro snapshot_criteria_dropdown(id_prefix, t, icon_size=15) -%}
<div class="dropdown snapshot-criteria-dropdown">
    <button type="button" class="criteria-dropdown-btn" id="btn-{{ id_prefix }}-criteria" title="{{ t('filter.criteria_title') }}">
        {{ lucide('sliders-horizontal', size=icon_size, class_='text-muted') }}
        <span>{{ t('filter.criteria') }}</span>
        <span class="criteria-badge" style="display: none;">5</span>
        {{ lucide('chevron-down', size=13, class_='text-muted') }}
    </button>
    <div class="dropdown-content criteria-dropdown-content" id="{{ id_prefix }}-criteria-menu">
        <div class="criteria-header">
            <span>{{ t('filter.criteria_header') }}</span>
            <button type="button" class="criteria-reset-btn">{{ t('filter.criteria_reset') }}</button>
        </div>
        <label class="criteria-checkbox-item">
            <input type="checkbox" class="custom-checkbox criteria-checkbox" data-attr="size" checked>
            <span>{{ t('filter.criteria_attr_size') }}</span>
        </label>
        <label class="criteria-checkbox-item">
            <input type="checkbox" class="custom-checkbox criteria-checkbox" data-attr="mtime" checked>
            <span>{{ t('filter.criteria_attr_mtime') }}</span>
        </label>
        <label class="criteria-checkbox-item">
            <input type="checkbox" class="custom-checkbox criteria-checkbox" data-attr="ctime" checked>
            <span>{{ t('filter.criteria_attr_ctime') }}</span>
        </label>
        <label class="criteria-checkbox-item">
            <input type="checkbox" class="custom-checkbox criteria-checkbox" data-attr="mode" checked>
            <span>{{ t('filter.criteria_attr_mode') }}</span>
        </label>
        <label class="criteria-checkbox-item">
            <input type="checkbox" class="custom-checkbox criteria-checkbox" data-attr="owner" checked>
            <span>{{ t('filter.criteria_attr_owner') }}</span>
        </label>
    </div>
</div>
{%- endmacro -%}
